<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to FrankBook</title>
  </head>
  <body>
    <h1>Welcome to FrankBook!</h1>
    <p>You are logged in as {{#theSession}}{{username}}{{/theSession}}</p>
    
    <nav>
      <a href="homeScreen">Home Screen</a>
      <a href="mainFeed">Main Feed</a>
      <a href="createPost">Create a new post</a>
      <a href="yourProfile">{{#theSession}}{{username}}{{/theSession}}'s Profile</a>
      <a href="logOut">Log out</a>
    </nav>
  </body>
</html>
