<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gabble Login Page</title>
    <link rel="stylesheet" href="../public/main.css">
  </head>
  <body>
    <h1>Login to FrankBook!</h1>
    <form id="loginPage" action="/loginPage/" method="post">
      <label for="usernameInput" id="usernameInputLabelLogin">Username</label>
      <input type="text" id="usernameInputLogin" name="usernameInputLogin">
      <label for="passwordInput" id="passwordInputLabelLogin">Password</label>
      <input type="password" id="passwordInputLogin" name="passwordInputLogin">
      <input type="submit" id="signupPageButton" value="Login">
    </form>
  </body>
</html>
