<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FrankBook Login Screen</title>
  </head>
  <body>
    <h1>Welcome to FrankBook!</h1>
    <form id="signup" action="/signup/" method="post">
      <input type="submit" id="signupLinkButton" value="sign up">
    </form>
    <form id="login" action="/login/" method="post">
      <input type="submit" id="loginLinkButton" value="login">
    </form>
  </body>
</html>
