<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Main feed</title>
    <link rel="stylesheet" href="../public/main.css">
  </head>
  <body>
    <div id="mainContentWrapper">
      <nav>
        <a href="homeScreen">Home Screen</a>
        <a href="mainFeed">Main Feed</a>
        <a href="createPost">Create a new post</a>
        <a href="yourProfile">{{#theSession}}{{username}}{{/theSession}}'s Profile</a>
        <a href="logOut">Log out</a>
      </nav>
      {{#posts}}
      <ul>
        <li>
          <div class="posts">
            <h4>posted by: {{username}}</h4>
            <p class="postContent">{{postcontent}}</p>
            <p class="numberOfLikes"> <a href="likedBy/{{id}}">Likes:</a> {{numberoflikes}}</p>
            <form class="likePost" action="/likePost/{{id}}" method="post">
              <input type="submit" class="likePostButton" value="like">
            </form>
          </div>
        </li>
      </ul>
      {{/posts}}
    </div>
  </body>
</html>
