<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Main feed</title>
    <link rel="stylesheet" href="../public/main.css">
  </head>
  <body>
    <div id="mainContentWrapper">
      <nav>
        <form class="homeScreenTab" action="/homeScreen" method="post">
          <input type="submit" class="homeScreenButton" value="Home Screen">
        </form>
        <form class="mainFeedTab" action="/mainFeed" method="post">
          <input type="submit" class="mainFeedButton" value="Main Feed">
        </form>
        <form class="createPostTab" action="/createPost" method="post">
          <input type="submit" class="createPostButton" value="Create Post">
        </form>
        <form class="homyourProfile" action="/yourProfile" method="post">
          <input type="submit" class="yourProfileButton" value="{{#theSession}}{{username}}{{/theSession}}'s Profile">
        </form>
        <form class="logOutTab" action="/logOut" method="post">
          <input type="submit" class="logOutButton" value="Log Out">
        </form>
      </nav>
      {{#posts}}
      <ul>
        <li>
          <div class="posts">
            <h4>posted by: {{username}}</h4>
            <p class="postContent">{{postcontent}}</p>
            <p class="numberOfLikes"> <a href="likedBy/{{id}}">Likes:</a> {{numberoflikes}}</p>
            <form class="likePost" action="/likePost/{{id}}" method="post">
              <input type="submit" class="likePostButton" value="like">
            </form>
          </div>
        </li>
      </ul>
      {{/posts}}
    </div>
  </body>
</html>
