<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gabble Signup Page</title>
  </head>
  <body>
    <h1>Sign up for FrankBook!</h1>
    <form id="signupPageSignup" action="/signupPage/" method="post">
      <label for="usernameInput" id="usernameInputLabelSignup">Username</label>
      <input type="text" id="usernameInputSignup" name="usernameInputSignup">
      <label for="passwordInput" id="passwordInputLabelSignup">Password</label>
      <input type="password" id="passwordInputSignup" name="passwordInputSignup">
      <label for="confirmPasswordInput" id="confirmPasswordInputLabelSignup">Confirm Password</label>
      <input type="password" id="confirmPasswordInputSignup" name="confirmPasswordInputSignup">
      <input type="submit" id="signupPageButton" value="sign up">
    </form>
  </body>
</html>
