<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create a post</title>
  </head>
  <body>
    <nav>
      <a href="homeScreen">Main Feed</a>
      <a href="createPost">Create a new post</a>
      <a href="yourProfile">{{#theSession}}{{username}}{{/theSession}}'s Profile</a>
      <a href="logOut">Log out</a>
    </nav>
    <p>your profile</p>
  </body>
</html>
